{% extends "base.html" %}
{% load static %}

{% block title %}Лента записей{% endblock %}

{% block content %}
<div class="container py-5">
  <h1>Лента записей</h1>                        
  {% for elem in post %}
    <hr>
    <article>
      <ul>
        <li>Место: {{ elem.location }}</li>
        <li>Дата: {{ elem.date }}</li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' elem.category %}">{{ elem.category }}</a>
        </li>
      </ul>
      <p>{{ elem.text|truncatewords:10 }}</p>
      <a href="{% url 'blog:post_detail' elem.id %}">Читать полный текст</a>
    </article>
  {% endfor %}
</div>
{% endblock %}
